@import             'cobDS-tokens.scss';


$text-color:        darken($color-grey, 55%);

// these are totaly random, no rhyme or reason
$color-cycl: #1e5aae;
$color-rein: #31C77D;
$color-comp: darken(#F4E554, 20%);
$color-fire: #F8B137;
$color-tv:   #DE5B42;
$color-ee:   darken(#D4DCFF, 20%);
$color-home: #7D83FF;
$color-prmt: #007FFF;
$color-shtr: darken(#1AFFD5, 20%);

html,
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.main-wrapper {
  position: relative;
  top: 120px;
}

@mixin visuallyHidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// Create a tint
//
// @param  {Color}  $color to tint
// @param  {Number} $percentage of `$color` in returned color
// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Create a shade
//
// @param  {Color}  $color to shade
// @param  {Number} $percentage of `$color` in returned color
// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

body, html {
  font-family: $font-text;
}

h1, h2, h3, h4, p, ol, ul {
  color: $text-color;
}

pre, code {
  border-radius: $radius-default;
  background-color: $color-blue;
  color: white;
  padding: 1px 10px;
  font-size: $size-s;
  font-weight: $weight-semi-bold;
}

.page-wrapper {
  padding: 20px;
  position: relative;
  background-color: white;
}

.finished-wrapper {
  width: calc(100% - 300px);
  margin-left: auto;
  padding: 0 0 0 40px;
}

// to-do: move to COBDS
.field-group {
  width: 400px;
  display: flex;
  flex-wrap: wrap;

  input {
    box-shadow: none;
    border: 1px solid lighten($text-color, 50%);

    &:disabled {
      // border: 1px solid $text-color;
      // background-color: darken($text-color, 15%);
      color: $text-color !important;
      box-shadow: none;
      opacity: 1;
    }
  }
}

/deep/ label,
span.label {
  // background-color: teal;
  color: $text-color;
  font-size: 18px;
  margin-bottom: $space-xs !important;
  font-weight: $weight-semi-bold;
  width: 100%;
}

.field-group {
  margin: 0 0 $space-m 0;

  &:last-of-type {
    display: block;
    margin: 0 0 $space-s 0;
  }
}

.profile-image {
  position: relative;
  overflow: hidden;
  border: 1px solid lighten($text-color, 50%);
  margin: 0 5px 0 0;
  border-radius: 50%;

  img {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    height: auto;
    width: auto;
    max-width:100%;
  }
}

.vdp-datepicker__calendar {
  font-family: $font-text;

  .cell:not(.blank):not(.disabled).day:hover,
  .cell:not(.blank):not(.disabled).month:hover,
  .cell:not(.blank):not(.disabled).year:hover,
  .cell.selected {
    background: $color-blue !important;
    color: white !important;
    border-radius: 50%;
    border: none !important;
  }
}

/deep/ table {
  &.fixed-header {
    table-layout: fixed;

    thead {
      width: 100%;
      display: table;
      table-layout: fixed;
    }

    tbody {
      display: block;
      overflow-y: scroll;

      tr {
        width: 100%;
        display: table;
        table-layout: fixed;
      }
    }
  }

  thead {
    th {
      background-color: lighten($color-grey, 10%);
      padding: 16px 0;
      text-align: left;

      &:first-of-type,
      &:last-of-type {
        padding: 16px 8px;
      }

      &:first-of-type {
        border-top-left-radius: $radius-default;
      }

      &:last-of-type {
        border-top-right-radius: $radius-default;
      }
    }
  }

  tbody {
    tr {
      &.active,
      &:active,
      &:focus,
      &:hover {
        background-color: lighten($color-grey, 10%);
      }

      th, td {
        padding: 16px 0;
        font-weight: 600;
        text-align: left;

        &:first-of-type,
        &:last-of-type {
          padding: 0 8px;
        }
      }
    }
  }
}

.badge {

  &.default {
    background-color: $color-silver;
  }

  &.new {
    background-color: $color-ucla-gold-dark;
  }

  &.pending {
    background-color: $color-blue;
  }

  &.approved {
    background-color: $color-green-light;
  }

  &.active {
    background-color: $color-green;
  }

  &.denied {
    background-color: $color-vermilion-darker;
  }

  &.inactive {
    background-color: $text-color;
    color: white;
  }
}

.modal-wrapper {
  height: 100vh;
}
